/* Define some fonts **/
.monospace {
    	-fx-font-family: "monospace";
}
.serif{
	-fx-font-family: "serif";
}
.sans-serif{
	-fx-font-family: "sans-serif";
}
/* Text styles **/
.bold {
	-fx-font-weight: bold;
}
.italic {
	-fx-font-style: italic;
}
.plain {
	-fx-font-style: normal;
    	-fx-font-weight: normal;
}
/* Font sizes **/
.pt10 {
	-fx-font-size: 10pt;
}
.pt12 {
	-fx-font-size: 12pt;
}
.pt14 {
	-fx-font-size: 14pt;
}
/* Colors **/
.green {
	-fx-fill: green;
}
.blue {
	-fx-fill: blue;
}
.red {
	-fx-fill: red;
}

